{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"
         style="margin-top: 50px;">
        {% for k,v in form.errors.items %}
            <strong>{{ v }}</strong>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% elif messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert"
         style="margin-top: 50px;">
        {% for mess in messages %}
            <strong>{{ mess }}</strong>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}